*{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background: -webkit-linear-gradient(to left, rgba(0,168,255,0.5), rgba(210, 109, 247, 0.5));
	background: -o-linear-gradient(to left, rgba(0,168,255,0.5), rgba(210, 109, 247, 0.5));
	background: -moz-linear-gradient(to left, rgba(0,168,255,0.5), rgba(210, 109, 247, 0.5));
	background: linear-gradient(to left, rgba(0,168,255,0.5), rgba(210, 109, 247, 0.5));
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:20px;
	background-color:#bd59d4;;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}